.home-page {
  display: flex;
  height: 100vh;
  margin-left: 300px;

  .image-container {
    display: flex;
    align-items: center;
    margin: 0 10px;

    img {
      display: block;
      z-index: 1;
      width: 450px;
      height: 450px;
    }
  }


  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 25px;

    h1 {
      font-size: 60px;
      span {
        color: #B5231B;
      }
    }

    .line {
      width: 355px;
      height: 5px;
      background-color: #B5231B;
    }

    h3 {
      font-size: 30px;
    }
    
    p {
      font-size: 18px;
      margin: 10px 0;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .home-page {
    // background-color: red;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1439px){
  .home-page {
    background-color: blue;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1079px){
  .home-page {
    background-color: purple;
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    background-color: green;
  }
}
